/* media query para realizar alterações de layout em telas menores que 600px  */

@media only screen and (max-width: 600px) {
    main{
        overflow-x: hidden;
    }
    .barraNavegacao {
        display: flex;
        flex-direction: column;
    }

    .menu-Hamburguer {
        display: block;
        font-size: 2.7vw;
        font-weight: bold;
        cursor: pointer;
        color: #5711A5;
    }

    .menu-item {
        display: none;
    }

    .menu-items .menu-item {
        margin-left: 0vw;
        margin-top: 1vw;
        width: 100%;
        justify-self: center;
    }

    .menu-items {
        background-color: #5611a5ac;
        border-radius: 0.5vw;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        z-index: 1;
        margin-top: 0.5vw;
    }

    .menu-items button {
        margin-bottom: 1vw;
        font-size: 2vw;
        background-color: #5611a500;
        color: white;
    }

    #logo {
        margin: 0;
        margin-top: 1vw;
    }

    .login {
        position: fixed;
        z-index: 1;
        margin-top: 2vw;
        right: 0vw;
    }

    .login img {
        display: none;
    }
}


/* media query para realizar alterações de layout em telas maiores que 600px  */

@media only screen and (min-width: 600px) {
    .menu-items {
        display: flex;
        flex-direction: row;
    }

    .menu-item,
    .menu-item.show {
        display: block;
    }

}

/* ANIMATIONS */

/* animações para o botao de retornar ao topo  */

@keyframes efeitoFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes efeitoFadeReverse {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/* animação para aplicar efeito tremido ao passar o mouse sobre a logo do app */

@keyframes tremido {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px) rotate(-5deg);
    }

    50% {
        transform: translateX(5px) rotate(5deg);
    }

    75% {
        transform: translateX(-5px) rotate(-5deg);
    }

    100% {
        transform: translateX(0);
    }
}

/* animação para criar efeito brilhante ao redor dos botões de download */

@keyframes brilho {
    0% {
        box-shadow: 0 0 0.5vw 0.1vw #ffcc00;
    }

    50% {
        box-shadow: 0 0 0.9vw 0.3vw #8cff00;
    }

    100% {
        box-shadow: 0 0 0.9vw 0.5vw #ffcc00;
    }
}

/* animação para realizar a rotação de imagens ao passar o mouse sobre elas */

@keyframes rodarImagem {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* animação de pendulo aplicada ao botão de voltar ao topo da tela, quando ocorrer um hover */

@keyframes penduloBotaoVoltar {
    0% {
        transform: rotate(-20deg) scale(1.1);
    }

    50% {
        transform: rotate(20deg) scale(1.1);
    }

    100% {
        transform: rotate(-20deg) scale(1.1);
    }
}

/* animação para girar a imagem debaixo do link "Here" */

@keyframes rotacaoImgHere {
    0%,
    100% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(-1);
    }
}


/* animação para criar efeito de pendulo em links */

@keyframes penduloLinks {
    0%{ transform: rotateY(-50deg); }
    40% { transform: rotateY(50deg); }
    50% { transform: rotateY(-30deg); }
    60% { transform: rotateY(30deg); }
    70%{ transform: rotateY(-20deg); }
    80% { transform: rotateY(20deg); }
    90% { transform: rotateY(-10deg); }
    100% { transform: rotateY(10deg); }
}


/* animação para criar efeito de volta ao redor da tela */

@keyframes voltaTela {
    0%, 100% {
       transform: translateX(0%);
    }
    50% {
        transform: translateX(200%);
    }
    51% {
        transform: translateX(-100%);
    }
}